[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-script = "*"
uwsgi = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
mypy = "*"
pytest = "*"
parameterized = "*"

[requires]
python_version = "3.7.4"

[scripts]
start = "python manage.py runserver"
test = "pytest"
lint = "flake8 ."
format = "autopep8 -ivr ."
